.login {
    padding: 10px; 
}

.task{
    margin: 5px;
    text-align: center;
    text-size-adjust: 10px;
}



.general-style-button {
    margin: 5px;
    text-align: center;
    text-size-adjust: 10px;
    border: 1px;
}

.dashboard {
    margin: 4px;
}
